<div class="container relative mt-20 md:flex-row mx-auto">
    <!-- left item -->
    <div class="max-w-3xl px-6 space-y-6 md:px-0">
        <h2 class="font-black text-5xl text-left md:text-[57px] md:font-bold">
            Contact Our Sales Team
        </h2>
        <p class="text-left md:text-[15px] text-[18px] font-extrabold md:font-light">
            Payfixy is a revolutionary digital payment platform that enables both businesses and<br> consumers to
            transact seamlessly.
        </p>

        <p class="text-left md:text-[15px] text-[18px] xfont-extrabold md:font-light">
            We are committed to providing our customers with the best possible experience.
        </p>

        <p class="text-left md:text-[15px] text-[18px] font-extrabold md:font-light">
            Our trained sales team is available to meet your requests satisfactorily.
        </p>
    </div>
    <img src="assets/images/customer-service.png" class="block px-6 mt-5 md:mt-2 mb-5 md:hidden" alt="">
</div>

<div class="container relative flex flex-col md:mt-10 md:space-x-6 md:pb-48 md:flex-row mx-auto">
    <div class="flex px-6 md:px-0 w-full flex-col md:w-52 mt-10">
        <div class="text-2xl font-black text-center">
            <div>Contact Form</div>
        </div>
        <div class="flex bg-[#fff0f6] pt-5 rounded-lg md:p-5 justify-center w-full items-center">
            <div>
                <div>
                    <div class="text-sm">Your Name (Required)</div>
                    <input type="text"  class="p-1 outline-none">
                </div>

                <div class="mt-3">
                    <div class="text-sm">Your Email (Required)</div>
                    <input type="text"  class="p-1  outline-none">
                </div>

                <div class="mt-3">
                    <div class="text-sm">Subject</div>
                    <input type="text" class="p-1  outline-none">
                </div>

                <div class="mt-3">
                    <div class="text-sm">Your Message</div>
                    <textarea></textarea>
                </div>
                <div class="flex justify-center mt-5">
                    <button
                        class="px-12 p-2 font-bold bg-[#b11e31] text-xs text-white rounded-md">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex px-6 text-center items-center md:text-left mb-10 md:px-0 flex-col md:w-1/3 mt-10">
        <div class="md:pt-5">
            <p class="text-sm md:font-bold">
                <span class="font-black">Corporate HQ</span><br>39A, Fola Osibo Road. Lekki, Phase 1.Lagos.
            </p>

            <p class="mt-5 text-sm md:font-bold">
                <span class="font-black">Branch Office</span><br>Plot 1014m Fria Close, Wuse 2, Abuja
            </p>

            <p class="mt-5 text-sm md:font-bold">
                <span class="font-black">Call</span><br>+234 903 22 93 077
            </p>

            <p class="mt-5 text-sm md:font-bold">
                <span class="font-black">Email</span><br>Info@payfixy.com
            </p>

        </div>
    </div>

    <div class="hidden md:block" id="image">
        <img src="assets/images/customer-service.png" width="90%" alt="">
    </div>
</div>



<div class="flex justify-center text-center mt-20 bg-[#b01e31] py-20">
    <div>
        <div class="mt-5 text-white md:font-bold text-2xl md:text-5xl">
            Get your business started with simplified <br> digital payment today!
        </div>
        <div class="flex justify-center mt-10 mb-10">
            <button class="px-6 p-2 font-bold text-[#b01e31] text-xs bg-white rounded-md baseline md:block">
                Get Started
            </button>
        </div>
    </div>
</div>