#image{
    position:absolute;
    right:-151px;
    z-index: -1;
}

.bg-img{
    position: absolute;
    top:0;
}

.bg-img img{
    float: right;
}

.values img{
    // display: flex;
    // justify-content: center;
    text-align: center !important;
}


// .developer{
//     background-image: url("/assets/images/dev.png");
//     background-size: cover;
//     width: auto;
// }

#about-image{
    position:absolute;
    right:-151px;
    z-index: -1;
}


// .api{
//     z-index: -20;

// }